<div class="views">
  <div class="view view-main" data-page="contacts">
    <div class="navbar">
      <div class="navbar-inner navbar-on-center">
        <div class="left sliding" style="transform: translate3d(0px, 0px, 0px);">
          <a class="back link" href="#">
            <i class="icon icon-back" style="transform: translate3d(0px, 0px, 0px);">
            </i>
            <span>
              Back
            </span>
          </a>
        </div>
        <div class="center sliding" style="left: -7px; transform: translate3d(0px, 0px, 0px);">
          My Group
        </div>
        <div class="right">
          <a class="open-panel link icon-only" href="{base}/chat/group">
            <i class="icon icon-bars">
            </i>
          </a>
        </div>
      </div>
    </div>
    <div class="pages navbar-through toolbar-through">
      <div class="page page-on-center" data-page="contacts">
        <div class="page-content contacts-content">
          <div class="list-block contacts-block">
            <div class="list-group">
              <ul>  
                <li>
                  <a class="item-link" href="{base}/chat/private/1">
                    <div class="item-content">
                      <div class="item-media">
                        <i class="fa fa-user">
                        </i>
                      </div>
                      <div class="item-inner">
                        <div class="item-title">
                          jerrymaheswara
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="item-link" href="{base}/chat/private/2">
                    <div class="item-content">
                      <div class="item-media">
                        <i class="fa fa-user">
                        </i>
                      </div>
                      <div class="item-inner">
                        <div class="item-title">
                          User 1
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="item-link" href="{base}/chat/private/3">
                    <div class="item-content">
                      <div class="item-media">
                        <i class="fa fa-user">
                        </i>
                      </div>
                      <div class="item-inner">
                        <div class="item-title">
                          User 2
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
