<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
        <link href="{supesite}/files/images/organisation/icon/{organisation_icon}.ico" rel="shortcut icon" type="image/x-icon"/>
        <meta content="Jerry Maheswara (jerrymaheswara@gmail.com) +6208990055099" name="Author"/>
        <title>
            {site_title} | Interest
        </title>
        <link href="{base}/files/bower_components/AdminLTE/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="{base}/files/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
        <link href="{base}/files/bower_components/AdminLTE/dist/css/AdminLTE.min.css" rel="stylesheet"/>
    </head>
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="box box-{skin_box} skin_box">
                <div class="box-body">
                    <legend>
                        Sorry
                    </legend>
                    <div>
                        The
                        <b>
                            {subdomain_name}
                        </b>
                        subdomain is not in list.
                    </div>
                    <div>
                        If you interest, you can signup and claim it here :
                        <a href="//supersite.{host_port}">
                            supersite.{host_port}
                        </a>
                    </div>
                </div>
                <div class="box-footer">
                    © 2017
                </div>
            </div>
        </div>
    </body>
</html>
