<div class="box box-{skin_box} skin_box">
    <div class="box-body">
        {breadcrumb}
            {{controller}_detail}
        <div class="col-sm-6">
            <legend class="text-center" style="text-transform: capitalize;">
                {controller} Detail
            </legend>
            <div class="form-horizontal">
                <div>
                    {m_name} : {{controller}_name}
                </div>
                <div>
                    {m_price} : {{controller}_price}
                </div>
            </div>
        </div>
        {/{controller}_detail}
    </div>
</div>
