<link href="{base}/files/bower_components/AdminLTE/plugins/iCheck/square/blue.css" rel="stylesheet"/>
<link href="{base}/files/bower_components/formvalidation.io/dist/css/formValidation.min.css" rel="stylesheet"/>
<section class="row">
    <div class="col-sm-12">
        <div class="box box-{skin_box} skin_box">
            <div class=" box-body">
        {breadcrumb} 
            
                <legend>
                <a href="{base}/user/admin" class=" "><i class="fa fa-fw fa-angle-left"></i> </a>
                    {m_user} {m_add}
                </legend>
                <form action="" class="form-horizontal" enctype="multipart/form-data" id="form_register" method="POST">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">
                            {m_email} :
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" id="user_email" name="user_email" placeholder="{m_email}" required="required" type="email" value=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">
                            {m_password} :
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" id="user_password" name="user_password" placeholder="{m_password}" required="required" type="password" value=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">
                            {m_confirm_password} :
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" id="confirm_password" name="confirm_password" placeholder="{m_confirm_password}" required="required" type="password" value=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">
                            {m_given_name} :
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" id="user_given_name" name="user_given_name" placeholder="{m_given_name}" required="required" type="text" value=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">
                            {m_family_name} :
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" id="user_family_name" name="user_family_name" placeholder="{m_family_name}" required="required" type="text" value=""/>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-sm-4 control-label">
                            {m_access_level} :
                        </label>
                        <div class="col-sm-8">
                            <select class="form-control" id="role_label_id" name="role_label_id" required="required">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">
                            {m_captcha}  :
                        </label>
                        <div class="col-sm-8">
                            <span id="image_captcha">
                                {captcha}{image}{/captcha}
                            </span>
                            <button class="btn btn-flat btn-success pull-right" id="reload_captcha" type="button">
                                <i class="fa fa-refresh">
                                </i>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-4">
                            <input class="form-control" id="captcha" name="captcha" placeholder="{m_captcha}" required="required" type=""/>
                            <span class="hidden fa fa-pencil form-control-feedback">
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-4">
                            <div class="checkbox icheck">
                                <label>
                                    <div aria-checked="false" aria-disabled="false" class="icheckbox_square-blue" style="position: relative;">
                                        <input id="check_agree" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;" type="checkbox"/>
                                        <ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                        </ins>
                                    </div>
                                        I agree
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-4">
                            <button class="btn btn-primary btn-flat" id="btn_next" type="button">
                                {m_next} <i class="fa fa-fw fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="social-auth-links text-center hidden">
                    <p>
                        - {m_or} -
                    </p>
                    <a class="btn btn-block btn-social btn-facebook btn-flat-" href="#">
                        <i class="fa fa-facebook">
                        </i>
                        Sign up using Facebook
                    </a>
                    <a class="btn btn-block btn-social btn-google btn-flat-" href="#">
                        <i class="fa fa-google">
                        </i>
                        Sign up using Google+
                    </a>
                </div>
                <a class="text-center hidden" href="{base}/login">
                    {m_i_already_have_a_membership}
                </a>
            </div>
            <!-- /.form-box -->
        </div>
    </div>
</section>
<!-- ========================================================================== -->
<!-- ========================================================================== -->
<!-- ========================================================================== -->
<!-- ========================================================================== -->
<div class="modal modal-danger fade" id="modal_captcha">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" class="close" data-dismiss="modal" type="button">
                    ×
                </button>
                <h4 class="modal-title">
                    {m_error}:
                </h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-exclamation-circle fa-4x">
                    </i>
                    <h4>
                        Invalid captcha code or expired. Please retype captcha...!!!
                    </h4>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="button">
                    {m_close}
                </button>
            </div>
        </div>
    </div>
</div>
<!-- ========================================================================== -->
<!-- ========================================================================== -->
<div class="modal modal-danger fade" id="modal_email">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" class="close" data-dismiss="modal" type="button">
                    ×
                </button>
                <h4 class="modal-title">
                    {m_error}
                </h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-exclamation-circle fa-4x">
                    </i>
                    <h4>
                        Email already registered. Choose other email...!!
                    </h4>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="button">
                    {m_close}
                </button>
            </div>
        </div>
    </div>
</div>
<!-- ========================================================================== -->
<div class="modal modal-warning fade" id="modal_agree">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" class="close" data-dismiss="modal" type="button">
                    ×
                </button>
                <h4 class="modal-title">
                    {m_warning}
                </h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-exclamation-triangle fa-4x">
                    </i>
                    <h4>
                        You must agree to the terms, and fill in all column required!
                    </h4>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="button">
                    {m_close}
                </button>
            </div>
        </div>
    </div>
</div>
<!-- ========================================================================== -->
<div class="modal modal-success fade" id="modal_sukses">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" class="close" data-dismiss="modal" type="button">
                    ×
                </button>
                <h4 class="modal-title">
                    {m_congratulation}
                </h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-exclamation-circle fa-4x">
                    </i>
                    <h4>
                        {m_register_successful}...!!
                    </h4>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="button">
                    {m_close}
                </button>
            </div>
        </div>
    </div>
</div>
<!-- ========================================================================== -->
<style type="text/css">
    .has-error .control-label,
    .has-error .help-block,
    .has-error .form-control-feedback {
        color: #dd4b39;
    }

    .has-success .control-label,
    .has-success .help-block,
    .has-success .form-control-feedback {
        color: #00a65a;
    }
    #form_register .form-control-feedback {
        z-index: 100;
    }
    .has-error .select2-selection {
        border-color: #dd4b39;
    }
    .has-success .select2-selection {
        border-color: #00a65a;
    }
</style>
<!-- ========================================================================== -->
<!-- ========================================================================== -->
<!-- <script src="{base}/files/js/formValidation.min.js"></script> -->
<script src="{base}/files/bower_components/formvalidation.io/dist/js/formValidation.min.js"> </script>
<script src="{base}/files/bower_components/formvalidation.io/dist/js/framework/bootstrap.min.js"> </script>
<script src="{base}/files/bower_components/AdminLTE/plugins/iCheck/icheck.min.js">
</script>
<!-- <link href="{base}/files/bower_components/AdminLTE/plugins/select2/select2.min.css" rel="stylesheet" type="text/css"/> -->
<script src="{base}/files/bower_components/AdminLTE/plugins/select2/select2.min.js">
</script>
<!-- <link href="{base}/files/bower_components/AdminLTE/plugins/datepicker/datepicker3.css" rel="stylesheet"/> -->
<!-- <script src="{base}/files/bower_components/AdminLTE/plugins/datepicker/bootstrap-datepicker.js"> </script> -->


<script type="text/javascript">
            ////////////////////

</script>
<script>
    $(document).ready(function() { 
        ////////////////////
        ////////////////////
        var role_label = $.ajax({
            type: "GET",
            url: "{base}/user/role_ajax",
            dataType: "json",
            async: false,
            cache: true
        }).responseJSON;
        // console.log(role_label);
        $('#role_label_id').select2({
            width: "100%",
            multiple: false,
            data: role_label,
            allowClear: true,
            placeholder: '{m_access_level}',
        }).val('').trigger('change');
        ////////////////////
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        }); 
        ////////////////////
        ////////////////////
        $('#reload_captcha').click(function(event) { 
            $.ajax({
                url: '{base}/user/reload_captcha',
            }).done(function(data) {
                $('#image_captcha').html(data);
            }).fail(function(error) {
                console.log(error.responseText);
            });
        }); 
        ////////////////////
        ////////////////////
        $('#form_register').formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'fa fa-ok',
                invalid: 'fa fa-remove',
                validating: 'fa fa-refresh'
            },
            fields: {
                confirm_password: {
                    validators: {
                        identical: {
                            field: 'user_password',
                            message: 'The password and its confirm are not the same'
                        }
                    }
                },
                user_password: {
                    validators: {
                        identical: {
                            field: 'confirm_password',
                            message: 'Please retype password in column bellow.'
                        }
                    }
                },
            }
        }).on('err.form.fv', function(e) {
            // $('#modal_agree').modal('show');
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            var form_data = new FormData($('#form_register')[0]);
            $.ajax({
                url: '{base}/user/adduser',
                type: 'POST',
                data: form_data,
                mimeTypes: 'multipart/form-data',
                cache: false,
                contentType: false,
                processData: false
            }).done(function(data) {
                location.href = '{base}/user/edit/'+data;
                console.log(data);
                $('#modal_sukses').modal('show');
                $('#form_register').get(0).reset();
                // $("#form_register select").val('').trigger('change');
            }).fail(function(error) {
                console.log(error.responseText);
            });
        }); 
        ////////////////////
        ////////////////////
        $('#btn_next').click(function(event) {
            if ($('#check_agree').is(':checked') && $('#user_email').val() !== '') { 
                var cek_email = $.ajax({
                    url: '{base}/user/ajax_email',
                    type: 'POST',
                    data: {
                        user_email: $('#user_email').val()
                    },
                }).done(function(data) {
                    data = $.parseJSON(data);
                    // console.log(data);
                    if (data.status == 1) {
                        $('#modal_email').modal('show');
                    } else {
                        var cek_captcha = $.ajax({
                            url: '{base}/user/ajax_captcha',
                            type: 'POST',
                            data: {
                                captcha: $('#captcha').val()
                            },
                        }).done(function(data) {
                            data = $.parseJSON(data);
                            // console.log(data);
                            if (data.status == 0) {
                                $('#modal_captcha').modal('show');
                            } else {
                                $('#form_register').submit();
                            }
                        }).fail(function(error) {
                            console.log(error.responseText);
                        });
                    }
                }).fail(function(error) {
                    console.log(error.responseText);
                }); 
            } else {
                $('#modal_agree').modal('show');
            }
        });
    });
</script>
