<div class="form-group">
  <div class="col-sm- text-left ">
    <a class="btn btn-sm btn-primary" href="{base}/dashboard">
      <i class="fa fa-chevron-left">
      </i>
    </a>
    <a class="btn btn-sm btn-primary" href="{base}/language/admin/site">
      <i class="fa fa-flag">
      </i>
      {m_language}
    </a>
    <a class="btn btn-sm btn-success" href="{base}/language/admin/term">
      <i class="fa fa-bookmark">
      </i>
      {m_term}
    </a>
    <a class="btn btn-sm btn-danger" href="{base}/language/admin/translate">
      <i class="fa fa-exchange">
      </i>
      {m_translation}
    </a>
  </div>
</div>
{searchbox}
