<div class="box box-{skin_box} skin_box">
  <div class="box-header ">
    <h3 class="box-title">
      {language_detail}
        {language_name}
      {/language_detail}
    </h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body no-padding-">
    <a class="btn btn-primary" href="{base}/language">
      <i class="fa fa-chevron-left">
      </i>
      {m_back}
    </a>
    <dl class="dl-horizontal">
      {language_detail}
      <dt>
        language_id
      </dt>
      <dd>
        {language_id}
      </dd>
      <dt>
        language_name
      </dt>
      <dd>
        {language_name}
      </dd>
      <dt>
        language_country
      </dt>
      <dd>
        {language_country}
      </dd>
      <dt>
        country_iso_short
      </dt>
      <dd>
        {country_iso_short}
      </dd>
      <dt>
        language_culture_name
      </dt>
      <dd>
        {language_culture_name}
      </dd>
      <dt>
        language_iso_639x
      </dt>
      <dd>
        {language_iso_639x}
      </dd>
    </dl>
    {/language_detail}
  </div>
</div>
<!-- /.box-body -->
