<div class="row">
  <div class="col-sm-12">
    <a href="{base}/dashboard" class="btn btn-primary pull-left">
      <i class="fa fa-chevron-left">
      </i>
    </a>
    <div class="text-center">
      <h3 class="widget-title">
        {m_admin} {m_site} {m_language}
      </h3>
    </div>
  </div>
</div>
<!-| =======  ======= |->
<h3 class="widget-title" align="center"> <span>Admin Site Language</span> </h3>
<div class="clearfix"><hr></div>
<div class="text-center">
  {language_menu}
</div>
<div class="clearfix"><hr></div>