<div class="box box-{skin_box} skin_box">
    <div class="box-body">
        {breadcrumb}
            {{controller}_detail}
        <div class="col-sm-6">
            <legend class="text-center" style="text-transform: capitalize;">
                {controller} Detail
            </legend>
            <div class=" form-horizontal">
                <div class="clearfix">
                    <div class="col-sm-4 text-right-">
                        <label>
                            Nama   :
                        </label>
                    </div>
                    <div class="col-sm-8">
                        {{controller}_nama}
                    </div>
                </div>
                <div class="clearfix">
                    <div class="col-sm-4 text-right-">
                        <label>
                            Nomor Anggota :
                        </label>
                    </div>
                    <div class="col-sm-8">
                        {{controller}_nomor}
                    </div>
                </div>
                <div class="clearfix">
                    <div class="col-sm-4 text-right-">
                        <label>
                            Tgl Lahir :
                        </label>
                    </div>
                    <div class="col-sm-8">
                        {{controller}_tanggal_lahir}
                    </div>
                </div>
                <div class="clearfix">
                    <div class="col-sm-4 text-right-">
                        <label>
                            Jenis Kelamin :
                        </label>
                    </div>
                    <div class="col-sm-8">
                        {{controller}_jenis_kelamin}
                    </div>
                </div>
                <div class="clearfix">
                    <div class="col-sm-4 text-right-">
                        <label>
                            Kategori :
                        </label>
                    </div>
                    <div class="col-sm-8">
                        {{controller}_kategori}
                    </div>
                </div>
                <div class="clearfix">
                    <div class="col-sm-4 text-right-">
                        <label>
                            Status :
                        </label>
                    </div>
                    <div class="col-sm-8">
                        {{controller}_status}
                    </div>
                </div>
                <div class="clearfix">
                    <div class="col-sm-4 text-right-">
                        <label>
                            Nomor Pasangan  :
                        </label>
                    </div>
                    <div class="col-sm-8">
                        {{controller}_nomor_pasangan}
                    </div>
                </div>
                <div class="clearfix">
                    <div class="col-sm-4 text-right-">
                        <label>
                            Nama Pasangan  :
                        </label>
                    </div>
                    <div class="col-sm-8">
                        {{controller}_nama_pasangan}
                    </div>
                </div>
                <div class="clearfix">
                    <div class="col-sm-4 text-right-">
                        <label>
                            Tgl Anniversary :
                        </label>
                    </div>
                    <div class="col-sm-8">
                        {{controller}_tanggal_anniversary}
                    </div>
                </div>
                <div class="clearfix">
                    <div class="col-sm-4 text-right-">
                        <label>
                            Tgl Expired :
                        </label>
                    </div>
                    <div class="col-sm-8">
                        {{controller}_tanggal_expired}
                    </div>
                </div>
                <div class="clearfix {_is_allowed}">
                    <div class="col-sm-4 text-right-">
                        <label>
                            Action:
                        </label>
                    </div>
                    <div class="col-sm-8">
                        <a class="btn btn-warning btn-xs" href="{base}/{controller}/edit/{{controller}_id}">
                            <i class="fa fa-fw fa-pencil">
                            </i>
                            Edit
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <legend>
                Image
            </legend>
            <div class="text-center" style=" border-radius: 14px; color:#fff; background-color: #145; padding: 10px 0;">
                <div>
                    <i class="fa fa-fw fa-circle fa-2x"></i>
                </div>
                <div class=" " style="color: #fff; background-color: #f00; 
                        margin-top: 20px;
                        margin-bottom: 20px;
                        font-size: 20pt; font-weight: bold; text-transform: uppercase;
                        ">
                    {anggota_nama}
                </div>
                <div class="form-group">
                    <img src="{base}/files/images/foto_anggota/{anggota_foto}.jpg" style="border: 1px solid #eee;" width="200px"/>
                </div>
                <div style="font-size: 20px; font-weight: bold; margin-bottom: 20px">
                    Kartu Anggota
                    <br/>
                    Masa Berlaku Sampai {anggota_tanggal_expired_format}
                </div>
                <div class="form-group">
                    <img src="{base}/code/bar/{anggota_nomor}" width="310px"/>
                </div>
                <div class="form-group">
                    <img src="{base}/code/qr/{anggota_nomor}" width="200px"/>
                </div>
            </div>
        </div>
        {/{controller}_detail}
    </div>
</div>
