<div class="box box-{skin_box} skin_box">
    <div class="box-body">
        {breadcrumb}
        <form action="" class="form-horizontal row" id="form_kendaraan" method="POST" role="form">
            <div class="col-sm-6">
                <div>
                    <legend>
                        Faktur :
                    </legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label-">
                            Nomor Faktur :
                        </label>
                        <div class="col-sm-8">
                            <input autofocus="on" class="form-control" data-value="{faktur_nomor}" id="faktur_nomor" name="faktur_nomor" placeholder="Nomor Faktur" required="required" type=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label-">
                            Tanggal Faktur :
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" data-value="{faktur_tanggal}" id="faktur_tanggal" max="{today}" name="faktur_tanggal" placeholder="Tanggal Faktur" required="required" type="date" value="{today}"/>
                        </div>
                    </div>
                </div>
                <div>
                    <legend class="">
                        Identitas Pemilik :
                    </legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label-">
                            Atas Nama :
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" data-value="{pemilik_nama}" id="pemilik_nama" name="pemilik_nama" placeholder="Nama Pemilik" required="required" type=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label-">
                            Alamat :
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" data-value="{pemilik_alamat}" id="pemilik_alamat" name="pemilik_alamat" placeholder="Nama Jalan / Kampung, No. Rumah, RT / RW" required="required" type=""/>
                            <div style="margin-top: 6px">
                                <select class="form-control" id="kodepos_id" name="kodepos_id" required="required" type="hidden">
                                </select>
                            </div>
                            <div style="margin-top: 6px">
                                <input class="form-control" disabled="" id="kelurahan_kecamatan" readonly="readonly" type=""/>
                            </div>
                            <div style="margin-top: 6px">
                                <input class="form-control" disabled="" id="kabupaten_kodepos" readonly="readonly" type=""/>
                            </div>
                            <div>
                                <input id="pemilik_kelurahan" name="pemilik_kelurahan" type="hidden"/>
                                <input id="pemilik_kecamatan" name="pemilik_kecamatan" type="hidden"/>
                                <input id="pemilik_jenis_kabupaten" name="pemilik_jenis_kabupaten" type="hidden"/>
                                <input id="pemilik_kabupaten" name="pemilik_kabupaten" type="hidden"/>
                                <input id="pemilik_propinsi" name="pemilik_propinsi" type="hidden"/>
                                <input id="pemilik_kodepos" name="pemilik_kodepos" type="hidden"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label-">
                            No. KTP / TDP :
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" data-value="{pemilik_ktp}" id="pemilik_ktp" name="pemilik_ktp" pattern="\d+.{15,}" placeholder="1234567890123456" required="required" type="text"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <legend class="">
                        Identitas Kendaraan :
                    </legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label-">
                            Merk :
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" data-value="{kendaraan_merk}" id="kendaraan_merk" name="kendaraan_merk" placeholder="Merk" required="required" type=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label-">
                            Type :
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" data-value="{kendaraan_type}" id="kendaraan_type" name="kendaraan_type" placeholder="Type" required="required" type=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label-">
                            Jenis :
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" data-value="{kendaraan_jenis}" id="kendaraan_jenis" name="kendaraan_jenis" placeholder="Jenis" type=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label-">
                            Model :
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" data-value="{kendaraan_model}" id="kendaraan_model" name="kendaraan_model" placeholder="Model" type=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label-">
                            Tahun Pembuatan :
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" data-value="{kendaraan_tahun}" id="kendaraan_tahun" name="kendaraan_tahun" placeholder="Tahun Pembuatan" type=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label-">
                            Isi Silinder :
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" data-value="{kendaraan_isi_silinder}" id="kendaraan_isi_silinder" name="kendaraan_isi_silinder" placeholder="Isi Silinder" type=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label-">
                            Warna :
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" data-value="{kendaraan_warna}" id="kendaraan_warna" name="kendaraan_warna" placeholder="Warna" type=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label-">
                            No. Rangkaian/ NIK/VIN :
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" data-value="{kendaraan_no_rangkaian}" id="kendaraan_no_rangkaian" name="kendaraan_no_rangkaian" placeholder="No. Rangkaian/NIK/VIN" required="required" type=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label-">
                            Nomor Mesin :
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" data-value="{kendaraan_no_mesin}" id="kendaraan_no_mesin" name="kendaraan_no_mesin" placeholder="Nomor Mesin" required="required" type=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label-">
                            Bahan Bakar :
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" data-value="{kendaraan_bahan_bakar}" id="kendaraan_bahan_bakar" name="kendaraan_bahan_bakar" placeholder="Bahan Bakar" type=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label-">
                            Harga :
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" data-value="{kendaraan_harga}" id="kendaraan_harga" name="kendaraan_harga" placeholder="Harga" type=""/>
                        </div>
                    </div>
                </div>
                <div>
                    <legend>
                        Data Dokumen Pendukung:
                    </legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label-">
                            Formulir A/B :
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" data-value="{dokumen_formulir_ab}" id="dokumen_formulir_ab" name="dokumen_formulir_ab" placeholder="Formulir A/B" type=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label-">
                            PIB :
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" data-value="{dokumen_pib}" id="dokumen_pib" name="dokumen_pib" placeholder="PIB" type=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label-">
                            TPT :
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" data-value="{dokumen_tpt}" id="dokumen_tpt" name="dokumen_tpt" placeholder="TPT" type=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label-">
                            SUT :
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" data-value="{dokumen_sut}" id="dokumen_sut" name="dokumen_sut" placeholder="SUT" type=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label-">
                            SRUT :
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" data-value="{dokumen_srut}" id="dokumen_srut" name="dokumen_srut" placeholder="SRUT" type=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-4">
                            <button class="btn btn-success btn-block btn-lg" type="submit">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- <link rel="stylesheet" type="text/css" href="https://select2.github.io/select2/select2-master/select2.css"> -->
<!-- <script src="https://select2.github.io/select2/select2-master/select2.js"></script> -->
<script type="text/javascript">
    ////////////////////   
    // $('#kodepos_id').select2( { 
    // }).one('select2-focus', select2Focus).on("select2-blur", function () {
    //     $(this).one('select2-focus', select2Focus)
    // })

    // function select2Focus() {
    //     var select2 = $(this).data('select2');
    //     console.log(select2);
    //     setTimeout(function() {
    //         if (!select2.opened()) {
    //             select2.open();
    //         }
    //     }, 0);  
    // }
    ////////////////////   
    ////////////////////   
    $('#kodepos_id').select2({ 
        placeholder: 'Kelurahan / Desa',
        allowClear: true,
        width: "100%", 
        minimumInputLength: 2,
        ajax: {
            url: '{base}/country/kelurahan_ajax',
            dataType: 'json',
            delay: 250,
            type: "GET",
            data: function (params) {
                // console.log(params);
                var queryParameters = {
                    search: params.term
                }
                return queryParameters;
            },
            processResults: function (data) {
                // console.log(data);
                return {
                    results: data
                };
            },
            cache: true
        }
    });
    ////////////////////
    $('#pemilik_alamat').on('blur',function(event) {
        // console.log(event);
        $('#kodepos_id').select2('open');
    });
    $('#kodepos_id').on('blur', function(event) {
        event.preventDefault();
        /* Act on the event */
    });

    ////////////////////
    $('#kodepos_id').on('change', function(event) {
        event.preventDefault();
        id = $(this).val();

        if (id != null) {
            // console.log(id);
            $.ajax({
                url: '{base}/country/kelurahan_ajax', 
                data: {id: id},
            })
            .done(function(data) {
                // console.log(data);
                $.each(data, function(index, val) {
                    $('#kelurahan_kecamatan').val('Kel. ' + val.kelurahan + ' - Kec. ' + val.kecamatan);
                    $('#kabupaten_kodepos').val(val.jenis + ' ' + val.kabupaten + ' - '+val.kodepos);
                    $('#pemilik_kelurahan').val(val.kelurahan);
                    $('#pemilik_kecamatan').val(val.kecamatan);
                    $('#pemilik_jenis_kabupaten').val(val.jenis);
                    $('#pemilik_kabupaten').val(val.kabupaten);
                    $('#pemilik_propinsi').val(val.propinsi);
                    $('#pemilik_kodepos').val(val.kodepos);
                });
                $('#pemilik_ktp').focus();
                
            })
            .fail(function(error) {
                console.log(error.responseText);
            });
        }else{
            $('#kelurahan_kecamatan').val('');
            $('#kabupaten_kodepos').val('');
        }
        

    });
    ////////////////////
</script>