<div class="box box-{skin_box} skin_box">
    <div class="box-header">
        <legend>
            Subscribe
        </legend>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{nomor_urut}</td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-success">Confirm</button>
    </div>
</div>