<div class="offcanvas-wrapper">
    <!-- Page Title-->
    <div class="page-title">
        <div class="container">
            <div class="column">
                <h1>
                    Checkout
                </h1>
            </div>
            <div class="column">
                <ul class="breadcrumbs">
                    <li>
                        <a href="index.html">
                            Home
                        </a>
                    </li>
                    <li class="separator">
                    </li>
                    <li>
                        Checkout
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Page Content-->
    <div class="container padding-bottom-3x mb-2">
        <div class="row">
            <!-- Checkout Adress-->
            <div class="col-xl-9 col-lg-8">
                <form action="" class="form-horizontal" method="POST" role="form">

                    <h4>
                        {alamat_ku}
                    </h4>
                    <hr class="padding-bottom-1x"/> 
                    <div id="billing_address" class="row">
                    </div>
                    <div style="display: none;">
                        <h4>
                            Shipping Address
                        </h4>
                        <hr class="padding-bottom-1x"/>
                        <div class="form-group">
                            <label class="custom-control custom-checkbox">
                                <input checked="" class="custom-control-input" id="same_as_billing" name="same_as_billing" type="checkbox"/>
                                <span class="custom-control-indicator">
                                </span>
                                <span class="custom-control-description">
                                    Same as billing address
                                </span>
                            </label>
                        </div>
                        <!-- -->
                        <div id="shipping_address">
                        </div>
                    </div>
                    <!-- -->
                    <!-- -->
                    <!-- -->
                    <!-- -->
                    <div class="row">
                        <!-- Checkout Adress-->
                        <div class="col-sm-12">
                            <h4>
                                Choose Shipping Method
                            </h4>
                            <hr class="padding-bottom-1x"/>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-default">
                                        <tr>
                                            <th>
                                                Shipping method
                                            </th>
                                            <th>
                                                Delivery time
                                            </th>
                                            <th>
                                                Tarif
                                            </th>
                                            <th>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="align-middle">
                                                <span class="text-medium">
                                                    Cash On Delivery (COD)
                                                </span>
                                                <br/>
                                                <span class="text-muted text-sm">
                                                    Dalam kota Balikpapan
                                                </span>
                                            </td>
                                            <td class="align-middle">
                                                1-2 hari
                                            </td>
                                            <td class="align-middle">
                                                Rp. 10.000,-
                                            </td>
                                            <td class="align-middle">
                                                <label class="custom-control custom-radio">
                                                    <input checked="" class="custom-control-input" name="shipping_method" type="radio" value="COD"/>
                                                    <span class="custom-control-indicator">
                                                    </span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">
                                                <span class="text-medium">
                                                    JNE
                                                </span>
                                                <br/>
                                                <span class="text-muted text-sm">
                                                    Jalur Nugraha Ekakurir
                                                </span>
                                            </td>
                                            <td class="align-middle">
                                                1-2 hari
                                            </td>
                                            <td class="align-middle">
                                                Rp. 10.000,-
                                            </td>
                                            <td class="align-middle">
                                                <label class="custom-control custom-radio">
                                                    <input class="custom-control-input" disabled="" name="shipping_method" type="radio" value="JNE"/>
                                                    <span class="custom-control-indicator">
                                                    </span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">
                                                <span class="text-medium">
                                                    TIKI
                                                </span>
                                                <br/>
                                                <span class="text-muted text-sm">
                                                    Citra Van Titipan Kilat
                                                </span>
                                            </td>
                                            <td class="align-middle">
                                                1-2 hari
                                            </td>
                                            <td class="align-middle">
                                                Rp. 10.000,-
                                            </td>
                                            <td class="align-middle">
                                                <label class="custom-control custom-radio">
                                                    <input class="custom-control-input" disabled="" name="shipping_method" type="radio" value="TIKI"/>
                                                    <span class="custom-control-indicator">
                                                    </span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">
                                                <span class="text-medium">
                                                    POS
                                                </span>
                                                <br/>
                                                <span class="text-muted text-sm">
                                                    POS Indonesia
                                                </span>
                                            </td>
                                            <td class="align-middle">
                                                1-2 hari
                                            </td>
                                            <td class="align-middle">
                                                Rp. 10.000,-
                                            </td>
                                            <td class="align-middle">
                                                <label class="custom-control custom-radio">
                                                    <input class="custom-control-input" disabled="" name="shipping_method" type="radio" value="POS"/>
                                                    <span class="custom-control-indicator">
                                                    </span>
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- -->
                    <!-- -->
                    <!-- -->
                    <!-- -->
                    <!-- -->
                    <!-- -->
                    <div class="checkout-footer">
                        <div class="column">
                            <a class="btn btn-outline-secondary" href="{base}/cart.html">
                                <i class="icon-arrow-left">
                                </i>
                                <span class="hidden-xs-down">
                                    Back To Cart
                                </span>
                            </a>
                        </div>
                        <div class="column">
                            <button class="btn btn-primary">
                                Continue
                                <i class="icon-arrow-right">
                                </i>
                            </button>
                            <a class="btn btn-primary hidden" href="{base}/checkout/complete.html">
                                <span class="hidden-xs-down">
                                    Continue
                                </span>
                                <i class="icon-arrow-right">
                                </i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Sidebar          -->
            <div class="col-xl-3 col-lg-4">
                {sidebar_kanan}
            </div>
        </div>
    </div>
</div>
<!-- -->
<div id="billing_address_temp" style="display: none" class=""> 
    <!-- <form class="row" method="POST"> -->
        {account_address}
        <!-- -->
        <!-- -->
        <!-- -->
        <!-- -->
        <div class="col-md-6">
            <div class="form-group">
                <label>
                    First Name
                </label>
                <input readonly="readonly" class="form-control" id="alamat" name="billing_address" placeholder="First name" required="required" type="text" value="{user_name_first}"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>
                    Last Name
                </label>
                <input readonly="readonly" class="form-control" id="alamat" name="billing_address" placeholder="Last Name" required="required" type="text" value="{user_name_last}"/>
            </div>
        </div>
        <!-- -->
        <div class="col-md-6">
            <div class="form-group">
                <label>
                    Email
                </label>
                <input readonly="readonly" class="form-control" id="alamat" name="billing_address" placeholder="email@dimain.com" required="required" type="text" value="{user_email}"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>
                    Phone
                </label>
                <input readonly="readonly" class="form-control" id="alamat" name="billing_address" placeholder="+62-123456789" required="required" type="text" value="{user_phone}"/>
            </div>
        </div>
        <!-- -->
        <div class="col-md-12">
            <div class="form-group">
                <label>
                    Alamat
                </label>
                <input readonly="readonly" class="form-control" id="alamat" name="billing_address" placeholder="Jalan ... RT .. / RW ... No ..." required="required" type="text" value="{billing_address}"/>
            </div>
        </div>
        <!-- -->
        <!-- -->
        <div class="col-md-6">
            <div class="form-group">
                <label>
                    Kelurahan
                </label>
                <input class="form-control" id="kelurahan" name="billing_subdistrict" placeholder="Kelurahan" readonly="readonly" type="text" value="{billing_subdistrict}"/>
            </div>
        </div>
        <!-- -->
        <div class="col-md-6">
            <div class="form-group">
                <label>
                    Kecamatan
                </label>
                <input class="form-control" id="kecamatan" name="billing_district" placeholder="Kecamatan" readonly="readonly" type="text" value="{billing_district}"/>
            </div>
        </div>
        <!-- -->
        <div class="col-md-6">
            <div class="form-group">
                <label>
                    Kabupaten
                </label>
                <input class="form-control" id="kabupaten" name="billing_city" placeholder="Kabupaten" readonly="readonly" type="text" value="{billing_city}"/>
            </div>
        </div>
        <!-- -->
        <div class="col-md-6">
            <div class="form-group">
                <label>
                    Propinsi
                </label>
                <input class="form-control" id="propinsi" name="billing_province" placeholder="Propinsi" readonly="readonly" type="text" value="{billing_province}"/>
            </div>
        </div>
        <!-- -->
        <!-- -->
        <div class="col-md-6">
            <div class="form-group">
                <label>
                    Kode Pos
                </label>
                <input class="form-control" id="kodepos" name="billing_postal_code" placeholder="Kode Pos" readonly="readonly" type="text" value="{billing_postal_code}"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group"> 
                <a href="{base}/account/address" class="btn btn-warning pull-right">Edit</a>
            </div>
        </div>
        <!-- -->
        {/account_address}
    <!-- </form> -->
</div>
<!-- -->
<!-- -->
<!-- -->
<div id="shipping_address_temp" style="display: none">
    <h4>
        Shipping Address
    </h4>
    <hr class="padding-bottom-1x"/>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="checkout-fn">
                    First Name
                </label>
                <input class="form-control" id="shipping_name_first" name="shipping[shipping_name_first]" type="text"/>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="checkout-ln">
                    Last Name
                </label>
                <input class="form-control" id="shipping_name_last" name="shipping[shipping_name_last]" type="text"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="checkout-email">
                    E-mail Address
                </label>
                <input class="form-control" id="shipping_email" name="shipping[shipping_email]" type="email"/>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="checkout-phone">
                    Phone Number
                </label>
                <input class="form-control" id="shipping_phone" name="shipping[shipping_phone]" type="text"/>
            </div>
        </div>
    </div>
    <div class="row padding-bottom-1x-">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="shipping_address">
                    Alamat
                </label>
                <input class="form-control" id="shipping_address" name="shipping[shipping_address]" type="text"/>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="shipping_address">
                    Kelurahan / Desa
                </label>
                <input class="form-control" id="shipping_subdistrict" name="shipping[shipping_subdistrict]" type="text"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="shipping_district">
                    Kecamatan
                </label>
                <input class="form-control" id="shipping_district" name="shipping[shipping_district]" type="text"/>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="shipping_city">
                    Kab / Kota
                </label>
                <select class="form-control" id="shipping_city" name="shipping[shipping_city]">
                    <option value="Balikpapan">
                        Balikpapan
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="checkout-zip">
                    Postal Code
                </label>
                <input class="form-control" id="shipping_postal_code" name="shipping[shipping_postal_code]" type="text"/>
            </div>
        </div>
    </div>
    <!-- -->
    <!-- -->
    <!-- -->
</div>
<!-- -->
<script type="text/javascript">
    $('#billing_address').html($('#billing_address_temp').html());
    $('#same_as_billing').on('change', function(event) {
        event.preventDefault();
        if ($(this).is(':checked') == false) {
            $('#shipping_address').html($('#shipping_address_temp').html())
        }else{
            $('#shipping_address').html('');
        }
    });
</script>

<link href="{base}/files/bower_components/AdminLTE/plugins/select2/select2.min.css" rel="stylesheet" type="text/css"/>
<script src="{base}/files/bower_components/AdminLTE/plugins/select2/select2.min.js">
</script>
<!-- -->
<script type="text/javascript">
    ////////////////////   
    //////////////////// 
    // kodepos_id_before = $('#kodepos_id_before').val();
    // $('#kodepos_id').select2().val(kodepos_id_before).trigger('change');
    //////////////////// 
    ////////////////////   
    // $('#kodepos_id').select2( { 
    // }).one('select2-focus', select2Focus).on("select2-blur", function () {
    //     $(this).one('select2-focus', select2Focus)
    // })

    // function select2Focus() {
    //     var select2 = $(this).data('select2');
    //     console.log(select2);
    //     setTimeout(function() {
    //         if (!select2.opened()) {
    //             select2.open();
    //         }
    //     }, 0);  
    // }
    ////////////////////   
    ////////////////////   
    $('#kodepos_id').select2({  
        placeholder: 'Kelurahan / Desa',
        allowClear: true,
        width: "100%", 
        minimumInputLength: 2,
        ajax: {
            url: '{base}/country/kelurahan_ajax',
            dataType: 'json',
            delay: 250,
            type: "GET",
            data: function (params) {
                // console.log(params);
                var queryParameters = {
                    search: params.term
                }
                return queryParameters;
            },
            processResults: function (data) {
                // console.log(data);
                return {
                    results: data
                };
            },
            cache: true
        }
    });//.val(kodepos_id_before).trigger('change');
    ////////////////////
    $('#alamat').on('blur',function(event) {
        // console.log(event);
        $('#kodepos_id').select2('open');
    });
    $('#kodepos_id').on('blur', function(event) {
        event.preventDefault();
        /* Act on the event */
    });

    ////////////////////
    $('#kodepos_id').on('change', function(event) {
        event.preventDefault();
        id = $(this).val();

        if (id != null) {
            // console.log(id);
            $.ajax({
                url: '{base}/country/kelurahan_ajax', 
                data: {id: id},
            })
            .done(function(data) {
                // console.log(data);
                $.each(data, function(index, val) {
                    $('#kelurahan_kecamatan').val('Kel. ' + val.kelurahan + ' - Kec. ' + val.kecamatan);
                    $('#kabupaten_kodepos').val(val.jenis_kabupaten + ' ' + val.kabupaten + ' - '+val.kodepos);
                    $('#kelurahan').val(val.kelurahan).prop('readonly', true);
                    $('#kecamatan').val(val.kecamatan).prop('readonly', true);
                    $('#jenis_kabupaten').val(val.jenis_kabupaten);
                    $('#kabupaten').val(val.jenis_kabupaten +' '+ val.kabupaten).prop('readonly', true);
                    $('#propinsi').val(val.propinsi).prop('readonly', true);
                    $('#kodepos').val(val.kodepos).prop('readonly', true);
                });
                $('#ktp').focus();
                
            })
            .fail(function(error) {
                console.log(error.responseText);
            });
        }else{
            $('#kelurahan').val('');
            $('#kecamatan').val('');
            $('#kabupaten').val('');
            $('#propinsi').val('');
            $('#kodepos').val('');
        }
        

    });
    ////////////////////
</script>
<!-- -->
