<!-- <link href="{base}/files/bower_components/AdminLTE/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css"/> -->
<!-- <script src="{base}/files/bower_components/AdminLTE/plugins/datatables/jquery.dataTables.min.js"> </script> -->
<!-- <script src="{base}/files/bower_components/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js"> </script> -->
<div class="">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {m_control_panel}
            <small>
            </small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{base}">
                    <i class="fa fa-home">
                    </i>
                    {m_home}
                </a>
            </li>
            <li>
                <a href="{base}/dashboard">
                    {m_dashboard}
                </a>
            </li>
        </ol>
    </section>
    <!-- <MAIN></MAIN>n content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                {content}
            </div>
        </div>
    </section>
</div>