<div class="box box-{skin_box} skin_box">
    <div class="box-body">
        <legend>
            <a class=" " href="{base}/{controller}">
                <i class="fa fa-fw fa-angle-left">
                </i>
            </a>
            {m_module}
        </legend>
        <div class="table-responsive">
            <div class="form-group">
                <div class="pull-right">
                    <span>
                        <a class="btn btn-primary" href="{base}/dashboard/module">
                            <i class="fa fa-fw fa-refresh">
                            </i>
                        </a>
                        {set_limit}
                    </span>
                    <span class="hidden" style="display: inline-block;">
                        <select class="form-control" id="information_schema">
                            {information_schema}
                            <option value="{table_schema}">
                                {table_schema}
                            </option>
                            {/information_schema}
                        </select>
                    </span>
                    <span>
                        <a class="btn btn-success " data-title="{m_add} {m_module}" data-toggle="modal" href="#module_add_edit">
                            <i class="fa fa-plus">
                            </i>
                            {m_add} {m_module}
                        </a>
                    </span>
                </div>
                <i class="fa fa-fw fa-lg fa-level-down">
                </i>
                With Selected :
                <button class="toggle_all btn btn-xs btn-flat btn-success" data-action_name="Enabled" data-module_disabled="0">
                    Enabled
                </button>
                <button class="toggle_all btn btn-xs btn-flat btn-primary" data-action_name="Disabled" data-module_disabled="1">
                    Disabled
                </button>
                <button class="delete_all btn btn-xs btn-flat btn-danger" data-action_name="Delete">
                    Delete
                </button>
            </div>
            <table cellpadding="0" cellspacing="0" class="display table table-striped table-bordered responsive" id="datatable" width="100%">
                <thead>
                    <tr class="bg-{skin} tr_skin">
                        <th>
                            <input class="check_all" style="cursor: pointer;" type="checkbox"/>
                        </th>
                        <th>
                            #
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            URL
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody id="module_tbody">
                </tbody>
                <tr>
                    <td colspan="20">
                        <label style="cursor: pointer;">
                            <input class="check_all" type="checkbox"/>
                            <i class="fa fa- ">
                            </i>
                            Check all
                        </label>
                    </td>
                </tr>
            </table>
            <span>
                <i class="fa fa-fw fa-lg fa-level-up">
                </i>
                With Selected :
                <button class="toggle_all btn btn-xs btn-flat btn-success" data-action_name="Enabled" data-module_disabled="0">
                    Enabled
                </button>
                <button class="toggle_all btn btn-xs btn-flat btn-primary" data-action_name="Disabled" data-module_disabled="1">
                    Disabled
                </button>
                <button class="delete_all btn btn-xs btn-flat btn-danger" data-action_name="Delete">
                    Delete
                </button>
            </span>
        </div>
    </div>
    <!-- /.box-body -->
</div>
<!-- ========================================================================== -->
<!-- ========================================================================== -->
<!-- ========================================================================== -->
<!-- ========================================================================== -->
<!-- ========================================================================== -->
<div class="modal fade" id="module_delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" class="close" data-dismiss="modal" type="button">
                    ×
                </button>
                <h4 class="modal-title">
                    Modal title
                </h4>
            </div>
            <div class="modal-body">
                Are you sure to delete
                <b>
                    <span id="module_name">
                    </span>
                </b>
                ?
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="button">
                    No
                </button>
                <button class="btn btn-danger" data-dismiss="modal" id="del_submit" type="button">
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>
<!-- ========================================================================== -->
<!-- ========================================================================== -->
<div class="modal fade" id="module_add_edit">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" class="close" data-dismiss="modal" type="button">
                    ×
                </button>
                <h4 class="modal-title">
                    Edit
                </h4>
            </div>
            <form class="form-horizontal" id="form_module_add_edit" method="POST">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-sm">
                                <div class="col-sm-12">
                                    <input id="module_id" name="module_id" type="hidden"/>
                                    <input autofocus="" class="form-control" id="module_name" name="module_name" placeholder="Name" type=""/>
                                </div>
                            </div>
                            <div class="form-group form-sm">
                                <div class="col-sm-12">
                                    <input id="module_table_before" type="hidden"/>
                                    <input class="form-control" id="module_table" name="module_table" placeholder="Table" type=""/>
                                </div>
                            </div>
                            <div class="form-group form-sm">
                                <div class="col-sm-12">
                                    <input id="module_level_before" type="hidden"/>
                                    <select id="module_level" name="module_level">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-sm">
                                <div class="col-sm-12">
                                    <input id="module_rank_before" type="hidden"/>
                                    <select id="module_rank" name="module_rank">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-sm">
                                <div class="col-sm-12">
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-default btn-sm">
                                            <input name="module_type" type="radio" value="1"/>
                                            <span class="text-default">
                                                System
                                            </span>
                                            <input id="module_type_before" type="hidden"/>
                                        </label>
                                        <label class="btn btn-default btn-sm">
                                            <input name="module_type" type="radio" value="2"/>
                                            <span class="text-primary">
                                                Entity
                                            </span>
                                        </label>
                                        <label class="btn btn-default btn-sm">
                                            <input name="module_type" type="radio" value="3"/>
                                            <span class="text-danger">
                                                Transaction
                                            </span>
                                        </label>
                                        <label class="btn btn-default btn-sm">
                                            <input name="module_type" type="radio" value="4"/>
                                            <span class="text-warning">
                                                Other
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-sm">
                                <div class="col-sm-12">
                                    <input id="module_color_before" type="hidden"/>
                                    <div class="div_module_color">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- -->
                        <div class="col-sm-6">
                            <div class="form-group form-sm">
                                <div class="col-sm-12">
                                    <input class="form-control" id="module_url" name="module_url" placeholder="URL" type=""/>
                                </div>
                            </div>
                            <div class="form-group form-sm">
                                <div class="col-sm-12">
                                    <input id="module_parent_before" type="hidden"/>
                                    <select id="module_parent" name="module_parent">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-sm">
                                <div class="col-sm-12">
                                    <input id="module_icon_before" type="hidden"/>
                                    <div class="input-group">
                                        <select class="form-control block module_icon" id="module_icon" name="module_icon">
                                            <option>
                                            </option>
                                        </select>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" id="icon_result" type="button">
                                                Go!
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-sm">
                                <div class="col-sm-12 from_permission">
                                    <input class="form-control" id="module_permission_before" type="hidden"/>
                                    <select class="module_permission" id="module_permission" name="module_permission[]">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- -->
                        <!-- -->
                        <!-- -->
                        <!-- -->
                        <!-- -->
                        <!-- -->
                        <!-- -->
                        <!-- -->
                        <!-- -->
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-12">
                        <button class="btn btn-default btn-flat" data-dismiss="modal" type="button">
                            Close
                        </button>
                        <button class="btn btn-primary btn-flat" data-dismiss="modal" id="btn_submit" type="button">
                            Save changes
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ========================================================================== -->
<!-- ========================================================================== -->
<script type="text/javascript">
    // $(document).ready(function() {

    $('#information_schema').val('{table_schema_before}');
    $('#information_schema').on('change', function(event) {
        event.preventDefault();
        table_schema = $(this).val();
        $.ajax({
            url: 'change_table_schema',
            type: 'POST',
            data: {table_schema: table_schema},
        })
        .done(function(data) {
            // console.log(data);
            module_ajax() ;
        })
        .fail(function(error) {
            console.log(error.responseText);
        });
        
    });

    function module_ajax() {
        $.ajax({
          url: '{base}/dashboard/module_ajax',
        })
        .done(function(data) {
          // console.log(data);
            $('#module_tbody').html(data);
            $.get('{base}/dashboard/aside_left_ajax', function(data_left) {
              // console.log(data_left);
                $('#module_left').html(data_left);
            });
        })
        .fail(function(error) {
          console.log(error.responseText);
        });
    }
    module_ajax();

    /**/ 
    ///////////////////////////////////////////////////////////////////////////
    //// create index column 1
    ///////////////////////////////////////////////////////////////////////////
    ///////////////////////////////////////////////////////////////////////////
    $('#datatable tbody').on( 'click', '.btn_edit', function () {
        var btn_edit = $(this);
        data = btn_edit.data();
        // console.log(data);
        // var data = table.row(btn_edit.parents('tr')).data();
        var result = Object.keys(data).forEach(function(k) {
            btn_edit.data(k,data[k]);
        }); 
    });
    ///////////////////////////////////////////////////////////////////////////
    // $('#del_submit').click(function(event) {
    //   module_id = $(this).data('module_id');
    //   console.log(module_id);
    //   $.ajax({
    //     url: '{base}/dashboard/module_delete/'+module_id,
    //   })
    //   .done(function() {
    //     console.log("success");
    //     // table.ajax.reload( null, false );
    //   })
    //   .fail(function(error) {
    //     console.log(error.responseText);
    //   });
      
    //   /* Act on the event */
    // });
    ///////////////////////////////////////////////////////////////////////////
    ///////////////////////////////////////////////////////////////////////////

    // $('#btn_submit').click(function(event) {
    //   var form = $('#form_module_add_edit');
    //   fff = form.serialize();
    //   console.log(fff);
    //   $.ajax({
    //     url: '{base}/dashboard/module_post',
    //     type: 'POST',
    //     data: form.serialize(),
    //   })
    //   .done(function(data) {
    //     module_ajax();
    //     // console.log(data);
    //     // data = jQuery.parseJSON(data);
    //     // console.log(data.status);
    //     // table.ajax.reload( null, false );
    //   })
    //   .fail(function(error) {
    //     console.log(error.responseText);
    //     // console.log(data);
    //   });
      
    // });
    ///////////////////////////////////////////////////////////////////////////
    // $('input').keypress(function(e) {
    //     if (e.which == '13') {
    //       $('#btn_submit').trigger('click');
    //     }
    // });

    ///////////////////////////////////////////////////////////////////////////

  // });
</script>
<script type="text/javascript">
    function format(icon) {
        return $('<span>').html("<i class='fa fa-fw fa-" + icon.id + "'></i>   " + icon.text);
    }
    var fa_icon = $.ajax({
        type: "GET",
        url: "{base}/fontawesome/icon",
        // url: "{base}/public/scripts/fa.json?s=s",
        dataType: "json",
        async: false,
        cache: true
    }).responseJSON;
    $('.module_icon').select2({
        placeholder: 'Icon',
        width: "100%",
        multiple: false,
        data: fa_icon,
        allowClear: true,
        placeholder: '',
        templateResult: format,
        formatResult: format,
        templateSelection: format
    });
    var module_permission = $.ajax({
        type: "GET",
        url: "{base}/dashboard/role_ajax",
        // url: "{base}/public/scripts/fa.json?s=s",
        dataType: "json",
        async: false,
        cache: true
    }).responseJSON;
    // console.log(module_permission);
    $('.module_permission').select2({
        width: "100%",
        multiple: true,
        data: module_permission,
        allowClear: true,
        placeholder: '',
    })
    ////////////////////
    ////////////////////
    ////////////////////
    ////////////////////
    $('#module_add_edit').on('show.bs.modal', function(event) {
        // $(this).find('[autofocus]').focus();
        var button = $(event.relatedTarget);
        var title = button.data('title');
        var modal = $(this);
        data = button.data();
        // console.log(data);
        Object.keys(data).forEach(function(k) {
            modal.find('#' + k).val(data[k]);
            modal.find('#' + k + '_before').val(data[k]);
        });
        modal.find('.modal-title').text(title);
        ////////////////////////////// modification --- begin
        var module_type_before = $('#module_type_before').val();
        $('input[type=radio][name=module_type]').parent().removeClass('active');
        if (module_type_before !== '') {
            $('input[type=radio][name=module_type]').filter('[value=' + module_type_before + ']').prop('checked', true).parent().addClass('active');
        }
        //----------rank
        module_rank_before = $('#module_rank_before').val();
        // console.log(module_rank_before);
        function* range(a, b) {
            for (var i = a; i <= b; ++i) yield i;
        }
        number = Array.from(range(1, 100));
        // number = new Array(100).join().split(',').map(function(item, index){return ++index});
        // number = Array.from({length: 115}, (v, k) => k+1); 
        $('#module_rank').select2({
            placeholder: 'Rank',
            width: '100%',
            data: number
        }).val(module_rank_before).trigger('change');
        //----------color -- begin
        var colors = [
            // 'red',
            // 'yellow',
            // 'aqua',
            // 'blue',
            // 'light-blue',
            // 'green',
            // 'navy',
            // 'teal',
            // 'olive',
            // 'lime',
            // 'orange',
            // 'fuchsia',
            // 'purple',
            // 'maroon',
            // 'black',
            // 'red-active',
            // 'yellow-active',
            // 'aqua-active',
            // 'blue-active',
            // 'light-blue-active',
            // 'green-active',
            // 'navy-active',
            // 'teal-active',
            // 'olive-active',
            // 'lime-active',
            // 'orange-active',
            // 'fuchsia-active',
            // 'purple-active',
            // 'maroon-active',
            // 'black-active',
            // 'black-gradient',
            // 'teal-gradient',
            // 'light-blue-gradient',
            // 'blue-gradient',
            // 'aqua-gradient',
            // 'yellow-gradient',
            // 'purple-gradient',
            // 'green-gradient',
            // 'red-gradient',
            // 'maroon-gradient', 
            'red', 'green', 'blue', 'teal', 'yellow', 'aqua', 'light-blue', 'purple', 'maroon',
        ];
        $('.div_module_color').html('');
        var module_color_before = $('#module_color_before').val();
        $.each(colors, function(index, val) {
            // console.log(val); 
            active = (val == module_color_before) ? 'text-black text-bold' : '';
            check = (val == module_color_before) ? 'check' : ' ';
            btn_color_div = ' <span class="' + active + ' " data-toggle="buttons">' + '<label class="' + active + '  btn btn-flat  bg-' + val + ' btn-xs "> ' + '<input autocomplete="off" name="module_color" type="radio" value="' + val + '"/>' + '<i class="color_check fa-fw fa fa-' + check + '"></i>' + ' </label></span> ';
            $('.div_module_color').append(btn_color_div);
            $('input[type=radio][name=module_color]').change(function(event) {
                $('.color_check').removeClass('fa-check');
                $(this).siblings('i').addClass('fa-check');
            });
        });
        // var module_color_before = $('#module_color_before').val();
        // $('input[type=radio][name=module_color]').parent().removeClass('active');
        // if (module_color_before !== '') {
        //   $('input[type=radio][name=module_color]').filter('[value='+module_color_before+']').prop('checked', true).parent().addClass('active');
        // }
        //----------color -- end
        /// ICON - BEGIN ------- marai abot//
        module_icon_before = $('#module_icon_before').val();
        $('#icon_result').html('<i class="fa fa-' + module_icon_before + '"></i>');
        $('#module_icon').val(module_icon_before).trigger('change')
        $('#module_icon').on('change', function(e) {
            icon = $(this).val();
            $('#icon_result').html('<i class="fa fa-' + icon + '"></i>');
        });
        /// ICON - END //
        /// LEVEL - BEGIN //
        module_level_before = $('#module_level_before').val();
        $('#module_level').select2({
            placeholder: 'Level',
            width: '100%',
            data: [1, 2, 3, 4]
        }).val(module_level_before).trigger('change');
        /// LEVEL - END //
        /// LEVEL - BEGIN ////
        module_parent($('#module_parent_before').val());

        function module_parent(value) {
            $('#module_parent').empty();
            // $('#module_parent').val('0').trigger('change');
            module_level = parseInt($('#module_level').val()) - 1;
            // console.log(module_level);
            if (module_level > 0) {
                $('#module_parent').parent().parent().show();
                $.ajax({
                    url: '{base}/dashboard/module_level_ajax/' + module_level + '/' + $('#module_id').val(),
                    type: 'GET',
                }).done(function(data) {
                    // console.log(data);
                    option = $.parseJSON(data);
                    // console.log(option);
                    $('#module_parent').select2({
                        data: option,
                        width: '100%',
                        allowClear: true,
                        placeholder: 'Parent'
                    }).val(value).trigger('change');
                }).fail(function(error) {
                    console.log(error.responseText);
                });
            } else {
                $('#module_parent').val(0);
                $('#module_parent').parent().parent().hide();
            }
        }
        $('#module_level').change(function(event) {
            module_parent();
        });
        // module_parent();
        /// LEVEL - END ////
        //----------PERMISSION -- BEGIN
        module_permission_before = $('#module_permission_before').val();
        module_permission_before = $.parseJSON('[' + module_permission_before + ']');
        $('.module_permission').val(module_permission_before).trigger('change');
        module_id = modal.find('#module_id').val();
        // console.log(module_id);
        if (module_id == '') {
            $('#module_level').val('').trigger('change');
            $('.from_permission').hide();
        } else {
            $('.from_permission').show();
        }
        //----------PERMISSION -- END
        // 
        ////////////////////////////// modification  --- end
    });
    $('#module_add_edit').on('hidden.bs.modal', function() {
        $(this).find('form')[0].reset();
    });
    $('#module_add_edit').on('hide.bs.modal', function() {
        $(this).find('form')[0].reset();
        $(this).find('input[id$="_before"]').val('');
        // $(this).find('input').val('');
    });
    $('#module_add_edit').on('shown.bs.modal', function() {
        $(this).find('[autofocus]').focus();
    });
</script>
<!-- ========================================================================== -->
<script type="text/javascript">
    $('#module_delete').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var title = button.data('title');
        var module_id = button.data('module_id');
        var module_name = button.data('module_name');
        var modal = $(this);
        modal.find('.modal-title').text('Delete '+module_name);
        modal.find('#module_name').html(module_name);
        modal.find('#del_submit').data('module_id',module_id);
    });
</script>
<!-- ========================================================================== -->
<!-- ========================================================================== -->
<!-- ========================================================================== -->
<!-- ========================================================================== -->
