<section class="bg-faded padding-top-3x padding-bottom-3x">
    <div class="container">
        <h3 class="text-center mb-30 pb-2">
            Popular Brands
        </h3>
        <div class="owl-carousel" data-owl-carousel='{ "nav": false, "dots": false, "loop": true, "autoplay": true, "autoplayTimeout": 4000, "responsive": {"0":{"items":2}, "470":{"items":3},"630":{"items":4},"991":{"items":5},"1200":{"items":6}} }'>
            <img alt="Adidas" class="d-block w-110 opacity-75 m-auto" src="{base}/files/unishop/img/brands/01.png"/>
            <img alt="Brooks" class="d-block w-110 opacity-75 m-auto" src="{base}/files/unishop/img/brands/02.png"/>
            <img alt="Valentino" class="d-block w-110 opacity-75 m-auto" src="{base}/files/unishop/img/brands/03.png"/>
            <img alt="Nike" class="d-block w-110 opacity-75 m-auto" src="{base}/files/unishop/img/brands/04.png"/>
            <img alt="Puma" class="d-block w-110 opacity-75 m-auto" src="{base}/files/unishop/img/brands/05.png"/>
            <img alt="New Balance" class="d-block w-110 opacity-75 m-auto" src="{base}/files/unishop/img/brands/06.png"/>
            <img alt="Dior" class="d-block w-110 opacity-75 m-auto" src="{base}/files/unishop/img/brands/07.png"/>
        </div>
    </div>
</section>