 
<section class="container padding-top-3x padding-bottom-2x">
    <div class="row">
        <div class="col-md-4 col-sm-6 text-center mb-30">
            <img alt="Shipping" class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3" src="{base}/files/unishop/img/services/01.png"/>
            <h6>
                Free Delivery
            </h6>
            <p class="text-muted margin-bottom-none">
                
            </p>
        </div>
        <div class="col-md-4 col-sm-6 text-center mb-30">
            <img alt="Money Back" class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3" src="{base}/files/unishop/img/services/02.png"/>
            <h6>
                Cash on Delivery
            </h6>
            <p class="text-muted margin-bottom-none">
                
            </p>
        </div>
        <div class="col-md-4 col-sm-6 text-center mb-30">
            <img alt="Support" class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3" src="{base}/files/unishop/img/services/03.png"/>
            <h6>
                Trusted Seller
            </h6>
            <p class="text-muted margin-bottom-none">
                
            </p>
        </div>
    </div>
</section>