<section class="hero-slider" style="background-image: url({base}/files/unishop/img/hero-slider/main-bg.jpg);">
    <div class="owl-carousel large-controls dots-inside" data-owl-carousel='{ "nav": true, "dots": true, "loop": true, "autoplay": true, "autoplayTimeout": 4000 }'>
        {slider_all}
        <div class="item">
            <div class="container padding-top-3x">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center">
                        <div class="from-bottom">
                            <!-- <img alt="Puma" class="d-inline-block w-150 mb-4" src="{base}/files/unishop/img/hero-slider/logo02.png"/> -->
                            <div class="h2 text-body text-normal mb-2 pt-1">
                                {item_name}
                            </div>
                            <div class="h2 text-body text-normal mb-4 pb-1">
                                 
                                <span class="text-bold">
                                    Rp. {item_price_format}
                                </span>
                            </div>
                        </div>
                        <a class="btn btn-primary scale-up delay-1" href="{base}/item/detail/{item_id}">
                            Detail
                        </a>
                    </div>
                    <div class="col-md-6 padding-bottom-2x mb-3" style="padding-top: 50px;

                        -webkit-filter: drop-shadow(0px 32px 16px rgba(0,0,0,0.5)); 
                        filter: drop-shadow(0px 32px 16px rgba(0,0,0,0.5));
                    ">
                        <img alt="{item_name}" class="d-block mx-auto" src="{base}/files/images/{item_image_main}" style="height: 350px !important;" />
                    </div>
                </div>
            </div>
        </div>
        {/slider_all}
        <div class="item hidden destroy">
            <div class="container padding-top-3x">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center">
                        <div class="from-bottom">
                            <img alt="Converse" class="d-inline-block w-200 mb-4" src="{base}/files/unishop/img/hero-slider/logo01.png"/>
                            <div class="h2 text-body text-normal mb-2 pt-1">
                                Chuck Taylor All Star II
                            </div>
                            <div class="h2 text-body text-normal mb-4 pb-1">
                                for only
                                <span class="text-bold">
                                    $59.99
                                </span>
                            </div>
                        </div>
                        <a class="btn btn-primary scale-up delay-1" href="shop-single.html">
                            Shop Now
                        </a>
                    </div>
                    <div class="col-md-6 padding-bottom-2x mb-3">
                        <img alt="Chuck Taylor All Star II" class="d-block mx-auto" src="{base}/files/unishop/img/hero-slider/01.png"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="item hidden destroy">
            <div class="container padding-top-3x">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center">
                        <div class="from-bottom">
                            <img alt="Motorola" class="d-inline-block mb-4" src="{base}/files/unishop/img/hero-slider/logo03.png" style="width: 125px;"/>
                            <div class="h2 text-body text-normal mb-2 pt-1">
                                Smart Watch Moto 360 2nd
                            </div>
                            <div class="h2 text-body text-normal mb-4 pb-1">
                                for only
                                <span class="text-bold">
                                    $299.99
                                </span>
                            </div>
                        </div>
                        <a class="btn btn-primary scale-up delay-1" href="shop-single.html">
                            Shop Now
                        </a>
                    </div>
                    <div class="col-md-6 padding-bottom-2x mb-3">
                        <img alt="Moto 360" class="d-block mx-auto" src="{base}/files/unishop/img/hero-slider/03.png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>