<div class="topbar">
    <div class="topbar-column">
        <a class="hidden-md-down" href="mailto:support@merengkuh.id">
            <i class="fa fa-fw fa-envelope">
            </i>
        </a>
        <a class="social-button sb-facebook shape-none sb-dark" href="#" target="_blank">
            <i class="fa fa-fw fa-facebook">
            </i>
        </a>
        <a class="social-button sb-twitter shape-none sb-dark" href="#" target="_blank">
            <i class="fa fa-fw fa-twitter">
            </i>
        </a>
        <a class="social-button sb-instagram shape-none sb-dark" href="#" target="_blank">
            <i class="fa fa-fw fa-instagram">
            </i>
        </a>
        <a class="hidden-md-down social-button sb-pinterest shape-none sb-dark" href="#" target="_blank">
            <i class="fa fa-fw fa-pinterest">
            </i>
        </a>
    </div>
    <div class="topbar-column">
        <a class="{_is_allowed}" href="{base}/dashboard" style="display: none-;" target="_blank">
            <i class="fa fa-fw fa-dashboard">
            </i>
            <span class="hidden-md-down ">
                Dashboard
            </span>
        </a>
        <a class="{is_login}" href="{base}/logout" style="display: none;">
            <i class="fa fa-fw fa-unlock">
            </i>
            <span class="hidden-md-down ">
                Logout
            </span>
        </a>
        <a class=" {is_logout}" href="{base}/member/register" style="display: none;">
            <i class="fa fa-fw fa-book">
            </i>
            <span class="hidden-md-down ">
                Register as Member
            </span>
        </a>
        <a class=" {is_logout}" href="{base}/seller/register" style="display: none;">
            <i class="fa fa-fw fa-handshake-o">
            </i>
            <span class="hidden-md-down ">
                Join as Seller
            </span>
        </a>
        <a class="{is_logout}" href="{base}/login" style="display: none;">
            <i class="fa fa-fw fa-lock">
            </i>
            <span class="hidden-md-down ">
                Login
            </span>
        </a>
    </div>
</div>