<div class="offcanvas-wrapper">
    <!-- Page Title-->
    <div class="page-title">
        <div class="container">
            <div class="column">
                <h1>
                    All Item
                </h1>
            </div>
            <div class="column">
                <ul class="breadcrumbs">
                    <li>
                        <a href="index.html">
                            Home
                        </a>
                    </li>
                    <li class="separator">
                    </li>
                    <li>
                        All Item
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Page Content-->
    <div class="container padding-bottom-3x mb-1">
        <div class="row">
            <!-- Products-->
            <div class="col-xl-9 col-lg-8 order-lg-2">
                <!-- Shop Toolbar-->
                <div class="shop-toolbar padding-bottom-1x mb-2">
                    <div class="column">
                        <div class="shop-sorting">
                            <label for="sorting">
                                Sort by:
                            </label>
                            <select class="form-control" id="sorting">
                                <option>
                                    Popularity
                                </option>
                                <option>
                                    Low - High Price
                                </option>
                                <option>
                                    High - Low Price
                                </option>
                                <option>
                                    Avarage Rating
                                </option>
                                <option>
                                    A - Z Order
                                </option>
                                <option>
                                    Z - A Order
                                </option>
                            </select>
                            <span class="text-muted">
                                Showing:
                            </span>
                            <span>
                                1 - 12 items
                            </span>
                        </div>
                    </div>
                    <div class="column">
                        <div class="shop-view">
                            <a class="grid-view " href="{base}/{controller}/{query_string}&view=grid">
                                <span>
                                </span>
                                <span>
                                </span>
                                <span>
                                </span>
                            </a>
                            <a class="list-view active" href="{base}/{controller}/{query_string}&view=list">
                                <span>
                                </span>
                                <span>
                                </span>
                                <span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Products List-->
                <!-- Product-->
                <div class="list_view">
                    {item_all}
                    <div class="product-card product-list">
                        <a class="product-thumb" href="{base}/{controller}/detail/{{controller}_id}">
                        <div class="text-center">
                            <img alt="Product" src="{base}/files/images/{{controller}_image_main}" style="width: 160px !important;  "/>
                        </div>
                        </a>
                        <div class="product-info">
                            <h3 class="product-title">
                                <a href="{base}/{controller}/detail/{{controller}_id}">
                                    {{controller}_name}
                                </a>
                            </h3>
                            <h4 class="product-price">
                                Rp. {{controller}_price_format}
                            </h4>
                            <p class="hidden-xs-down">
                                {{controller}_description}
                            </p>
                            <div class="product-buttons {is_login}">
                                <button class="btn_wishlist_add btn btn-outline-secondary btn-sm btn-wishlist {my_wishlist}" data-id="{{controller}_id}" data-iteration="{iteration}" data-toggle="tooltip" title="Whishlist">
                                    <i class="icon-heart">
                                    </i>
                                </button>
                                <button class="btn_cart_add btn btn-outline-primary btn-sm" data-id="{{controller}_id}" data-img_src="{base}/files/images/{item_image_main}" data-name="{{controller}_name}" data-price="{{controller}_price}" data-toast="" data-toast-icon="icon-circle-check" data-toast-message="successfuly added to cart!" data-toast-position="bottomRight" data-toast-title="Product" data-toast-type="success">
                                    Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>
                    {/item_all}
                </div>
                <!-- Product-->
                <!-- Products List-->
                <!-- Pagination-->
                <nav class="pagination" style="display: none">
                    <div class="column">
                        <ul class="pages">
                            <li class="active">
                                <a href="#">
                                    1
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    2
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    3
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    4
                                </a>
                            </li>
                            <li>
                                ...
                            </li>
                            <li>
                                <a href="#">
                                    12
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="column text-right hidden-xs-down">
                        <a class="btn btn-outline-secondary btn-sm" href="#">
                            Next
                            <i class="icon-arrow-right">
                            </i>
                        </a>
                    </div>
                </nav>
            </div>
            <!-- Sidebar          -->
            <div class="col-xl-3 col-lg-4 order-lg-1">
                {shop_category}
            </div>
        </div>
    </div>
    <!-- Site Footer-->
</div>
<script src="{base}/files/bower_components/currencyformatter.js/currencyFormatter.min.js" type="text/javascript">
</script>
<script type="text/javascript">
    // /////////////////////
    // /////////////////////
    // /////////////////////
    $('.btn_wishlist_add').each(function(index, el) {
        $(this).on('click', function(event) {
            event.preventDefault();
            item_id = $(this).data('id');

            if ($(this).hasClass('active')) {
                action = 'wishlist_remove';
            }else{
                action = 'wishlist_add';

            }

            $.ajax({
                url: '{base}/account/' + action,
                type: 'POST',
                data: {item_id: item_id},
            })
            .done(function(res) {
                console.log(res);
            })
            .fail(function(error) {
                console.log(error.responseText);
            });
            

        });
    });
    // /////////////////////
    // /////////////////////
    $('.btn_cart_add').each(function(index, el) {
        var data = {};
        $(this).on('click', function(event) {
            event.preventDefault();

            id = $(this).data('id');
            name = $(this).data('name');
            qty = 1;
            price = $(this).data('price');
            img_src = $(this).data('img_src');

            data['id'] = id;
            data['name'] = name;
            data['qty'] = qty;
            data['price'] = price;
            data['img_src'] = img_src;

            // console.log(data);

            $.ajax({
                url: '{base}/cart/add_item',
                type: 'POST', 
                data: {data: data},
            })
            .done(function(res) {
                console.log(res);
                res = $.parseJSON(res);
                var cart_total_format = OSREC.CurrencyFormatter.format(res.cart_total, { currency: 'IDR', symbol: 'Rp. ' });

                $('.cart_count').html(res.cart_count);
                $('.cart_total_format').html(cart_total_format);
            })
            .fail(function(error) {
                console.log(error.responseText);
            });
            


        });
    });
</script>