{review_all}
<div class="comment">
    <div class="comment-author-ava">
        <img alt="Review author" src="{base}/files/images/{review_author_avatar}"/>
    </div>
    <div class="comment-body">
        <div class="comment-header d-flex flex-wrap justify-content-between">
            <h4 class="comment-title">
                {review_name}
            </h4>
            <div class="mb-2">
                <div class="rating-stars">
                    <i class="icon-star {rating_star_1}">
                    </i>
                    <i class="icon-star {rating_star_2}">
                    </i>
                    <i class="icon-star {rating_star_3}">
                    </i>
                    <i class="icon-star {rating_star_4}">
                    </i>
                    <i class="icon-star {rating_star_5}">
                    </i>
                </div>
            </div>
        </div>
        <p class="comment-text">
            {review_description}
        </p>
        <div class="comment-footer">
            <span class="comment-meta">
                {review_author_name}
            </span>
        </div>
    </div>
</div>
{/review_all}
